doctype html
html
  head
    title Pug HTML Page
  body
    header
      h1 Welcome to My Pug Page
    main
      p This is a HOME PAGE in Pug.
      p Another paragraph in Pug.
      a(href="/")
      a(href="/contact")
      a(href="/service")